.footer {
    padding-top: 48px;
    padding-bottom: 48px;
    background-color: #1E1E1E;

}

.content {
    display: flex;
    justify-content: space-between;
    column-gap: 24px;
    margin-bottom: 24px;

    @media(max-width:1024px){
        flex-direction: column;
    }
}

.column{
    flex: 1;
}

.heading{
    margin-bottom: 16px;
    font-size: 24px;
    color: #fff;
}

.list{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.link{
    color: #fff;
    opacity: 0.5;

    &:hover{
        text-decoration: underline;
    }
}

.label{
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
    color: #fff;
}

.phone{
    display: block;
    color: #fff;
    margin-bottom: 8px;

    &:last-child{
        margin-bottom: 0;
    }
}

.contactBlock{
    margin-bottom: 12px;

    &:last-child{
        margin-bottom: 0;
    }
}

.contactItem{
    display: block;
    color: #fff;
    opacity: 0.5;
}