.header_nav {
  display: flex;
  align-items: center;
  flex-shrink: 0;

  &_menu{
    display: flex;
    justify-content: space-between;
    // font-size: clamp(12px, 1.1vw, 15px);
    list-style: none;
    // font-weight: 500;
    gap: clamp(10px, 1.5vw, 20px);
  }

  &_item{
    font-size: clamp(.75rem, 1.1vw, .9375rem);
    white-space: nowrap;
    font-weight: 500;
  }
}