.header_nav_menu {
  display: flex;
  align-items: center;
}

.header_ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: clamp(12px, 1.1vw, 15px);
  list-style: none;
  font-weight: 500;
  gap: clamp(10px, 1.5vw, 20px);

  li {
    white-space: nowrap;
  }
}