


.favorites_block{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.span{
  padding-top: 10px;
}


.mobile_catalog_container{
  @media (min-width: 1025px) {
    display: none;
  }
}
