@use "../../../../../shared/styles/breakpoints" as *;

$container-max-width: 1440px;
$sidebar-width: 340px;
$megamenu-width: calc(#{$container-max-width} - #{$sidebar-width});

.search_wrapper {
  padding: 0 0 16px;
}

.catalog_container {
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  display: flex;
  width: 100%;
  background-color: #f4f4f4;
  transform: none;
  min-height: 100vh;
  box-shadow: 0 15px 30px rgb(0 0 0 / 0.08%);
  clip-path: inset(1px 0 0 0);

  @include xs {
    left: 0;
    display: block;
    width: 100%;
    overflow-y: auto;
    height: calc(100vh - 50px);
    padding-inline: 0;
  }

  // &::after {
  //   position: absolute;
  //   top: 0;
  //   right: 100%;
  //   display: block;
  //   width: 100%;
  //   height: 100%;
  //   background-color: #f4f4f4;
  //   content: "";

  //   @include xs {
  //     display: contents;
  //   }
  // }
}

.category_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @include xs {
    padding: 16px 20px;
  }
}

.sidebar {
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: flex-end;
  width: auto;
  background-color: #f4f4f4;

  // grid-column: 1;

  @include xs {
    width: 100%;
  }
}

.categories_list {
  position: relative;
  display: flex;
  flex-direction: column;
  width: $sidebar-width;
  margin: 0;
  padding-left: 0;

  @include xs {
    height: auto;
    flex: 1;
    margin-left: 0;
  }
}

.category_item {
  position: relative;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition:
    color 0.2s,
    background-color 0.2s;

  @media (width >= 639px) {
    padding: 16px 52px;

    &.active {
      background-color: #0052b4;
      color: #fff;
    }
  }

  @include xs {
    &.active {
      background-color: transparent;

      .category_header {
        padding: 16px 20px;
        background-color: #0052b4;
        color: white;
      }
    }
  }
}

.active_arrow {
  position: absolute;
  z-index: 10;
  top: 60%;
  right: -12%;
  display: none;
  width: 0;
  height: 0;
  flex-shrink: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 12px solid #fff;
  transform: translateY(-50%);

  @media (width >= 638px) {
    top: 60%;
    right: 0%;
  }

  @media (width >= 992px) {
    width: 0;
    padding-inline: 200px;
  }

  @media (width>=1440px) {
    right: 0%;
  }

  @include xs {
    display: contents;
  }
}


.arrow {
  display: none;

  @include xs {
    display: flex;
    transform: translate(-50%, 10%) rotate(0deg);
    transition: transform 0.2s ease;
  }
}

.active_arrow.active .arrow {
  @include xs {
    transform: translate(-50%, 10%) rotateX(180deg);
  }
}

.category_item.active .active_arrow {
  @media (width > 638px) {
    top: 30px;
    display: block;
  }
}

.mobile_accordion {
  display: none;

  @media (width <= 638px) {
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
  }
}

.mobile_accordion.accordion_open {
  @media (width <= 638px) {
    max-height: 400px;
  }
}

.mobile_subcategory_list {
  margin: 0;
  padding: 10px 25px 5px;
  list-style: none;
}

.mobile_subcategory_item {
  padding: 8px 0;
  color: black;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.mega_menu {
  // z-index: 0;
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 16px 16px 0;
  background-color: #fff;
  grid-column: mega-menu;
  box-shadow: 0 0 8px #0000001a;

  .mega_menu_content {
    width: 100%;
  }

  .categories {
    font-size: larger;
    font-weight: 700;
  }

  @media (width <= 638px) {
    display: none;
  }
}

.subcategory_group{
  gap: 5px;
}


.subcategories_wrapper{
  display: flex;
  column-gap: 20px;
}

.subcategory_grid {
  display: flex;
  flex-direction: column;
  // display: grid;
  // margin: 0;
  // padding: 20px 10px;
  // grid-template-columns: repeat(3, 1fr);
  // gap: 20px 40px;
  // list-style: none;

  @media (width >= 639px) and (width <= 700px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.subcategory_item {
  color: #333;
  font-size: 14px;
  transition: color 0.2s;
  line-height: 1.5;
  cursor: pointer;
}

.subcategory_item:hover {
  color: #c00;
  text-decoration: underline;
}
