.catalog_button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #0054b0;
  color: #ffffff;
  border: none;
  border-radius: 11px;
  max-width: 148px;
  font-family: sans-serif;
  padding: 14 20px;
  font-weight: 500;
  cursor: pointer;
  font-size: 25px;
  transition:
    background-color 0.2s ease,
    transform 0.1s ease;
  &:active {
    transform: scale(0.97);
  }
}

@media (max-width: 1024px) {
  .catalog_button {
    width: 70px;
    height: 56px;
    padding: 5 5px;
  }
  .span {
    display: none;
  }
}
