.header_catalog_main {
  display: flex;
  width: 100%;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.header_catalog_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
  padding-block: 16px;
  padding-inline: 16px;
  gap: 14px;

  @media (min-width: 768px) {
    padding-inline: 24px;
  }

  @media (min-width: 1024px) {
    padding-inline: 90px;
  }

  @media (min-width: 1440px) {
    padding-inline: 80px;
  }
}

.desktop_catalog {
  display: none;
  @media (min-width: 1025px) {
    display: block;
  }
}

.desktop_search {
  display: flex;
  height: 67px;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  
    margin-left: auto;
  @media (min-width: 1025px) {
    display: none;
    margin-left: 0;
  }
}


