@use "../../../../shared/styles/breakpoints" as *;

.header_panel_main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid rgb(0 0 0 / 5%);
}

.header_panel_features {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 16 0 16px;
  margin-inline: auto;
  gap: 24px;

  @media (width <= 1400px) {
    gap: 10px;
  }

  @media (width <= 1024px) {
    justify-content: space-between;
  }
}

@include xs {
  .header_panel_logo {
    width: 150px;
  }
}

.desktop_catalog_button {
  display: none;

  @media (width >= 1025px) {
    display: block;
  }
}

.desktop_input {
  display: none;

  @media (width >= 1025px) {
    display: block;
    flex-grow: 1;
  }
}

.mobile_input_search {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  transform: translate(10%, 7%);

  @media (width>= 1025px) {
    display: none;
    width: 100%;
    margin-left: 0;
  }

  @include xs {
    transform: translate(10%, 7%);
  }
}

@include xs {
  .loupe {
    transform: translate(10%, 7%);
  }
}

@include xs {
  .span_input_search {
    display: none;
  }
}

.header_mobile_favorites_main {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
}

@include xs {
  .header_mobile_favorites_main {
    gap: 8px;
    flex-shrink: 0;
  }
}

@media (width <= 1024px) {
  .mobile_input_search,
  .header_desktop_favorites_main,
  .header_mobile_favorites_main > div {
    display: contents;
  }
}

.header_desktop_favorites_main {
  display: flex;
  gap: 16px;
  flex-shrink: 0;
}

.desktop_catalog_dropdown {
  margin-inline: 10px;
}

.container_catalog {
  margin-top: 0;
}

.mobile_input_search button {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.mobile_search_row {
  display: block;
  width: 100%;
  order: 120;
  padding-top: 12px;

  @media (width >= 300px) {
    padding: 0 0 16px;
  }
}

.mobile_catalog {
  display: block;
  width: 100%;
  order: 120;
}
