.header_catalog_main {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
  padding-left: 40px;
  padding-right: 40px;
  border-bottom: 1px solid rgb(0 0 0 / 5%);

  @media (width<= 1024px) {
    padding-right: 40px;
  }
}

.header_catalog_block {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  margin-inline: auto;
  padding-block: 16px;
  padding-left: 80px;
  padding-right: 60px;
  gap: 14px;

  @media (width>= 768px) {
    padding-inline: 1px;
  }

  @media (width>= 1024px) {
    padding-inline: 0;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
  padding-left: 40px;
}

.desktop_catalog_button {
  display: none;

  @media (width>=1025px) {
    display: block;
    width: 148px;
  }
}

.desktop_input {
  display: none;

  @media (width>=1024px) {
    display: block;
    flex-grow: 1;
  }
}

.desktop_input_search {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;

  @media (width>= 1025px) {
    display: none;
    width: 100%;
    margin-left: 0;
  }
}

.desktop_catalog_dropdown {
  margin-inline: 10px;
}

.desktop_input_search button {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.mobile_search_row {
  display: block;
  width: 100%;
  order: 120;
  padding-top: 12px;
}

.mobile_catalog {
  display: block;
  width: 100%;
  order: 120;
  padding-top: 12px;
}
