@use "../../../../../shared/styles/breakpoints" as *;

.favorites_block {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (width >= 300px ) and (width <= 638px) {
    width: 27;
    height: 25;
  }
}

@include xs {
  .hiddenOnMobile {
    display: none;
  }
}

.span {
  padding-top: 4px;

  @include xs {
    display: none;
  }
}

.mobile_catalog_container {
  @media (width>= 1025px) {
    display: none;
  }
}
