.subcategory_title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 16px;
}

.subcategories_wrapper {
  display: flex;
  width: 100%;
  height: auto;
  overflow: hidden;
  
}

.subcategory_grid {
  display: flex;
  flex-direction: column;

  @media (width >= 1025px) and (width <= 700px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.subcategory_item {
  color: #333;
  font-size: 14px;
  transition: color 0.2s;
  line-height: 1.5;
  cursor: pointer;
}

.subcategory_item:hover {
  color: #c00;
  text-decoration: underline;
}

.subcategory_group {
  width: 33.33%;
  gap: 5px;
}
