.header{
  &_info{
    display: flex;
    column-gap: 12px;

    &_icon{
      display: inline-block;
      width: 16px;
      height: 16px;
    }

    &_wrap{
      position: relative;
      display: flex;
      align-items: center;
      column-gap: 8px;
    }

    &_box{
      font-size: clamp(.75rem, 1.1vw, .9375rem);
      font-weight: 500;
    }
  }
}



