

.header_location {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header_locBlocks {
  display: flex;
  gap: clamp(6px, 1.5vw, 10px);
}

.p {
  font-size: clamp(12px, 1.1vw, 15px);
  white-space: nowrap;
}
